body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c9f0e3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* NAVBAR */
nav {
  background-color: #521032;
  height: 75px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
input {
  height: 35px;
  width: 350px;
  outline: none;
  font-size: 18px;
  font-family: inherit;
  padding: 0 10px;
  color: #851414;
}
#search-btn {
  height: 40px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background-color: #ba3326;
  outline: none;
  cursor: pointer;
}

/* MovieList Container */
section {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
#tabs {
  display: inline-flex;
  font-size: 18px;
  font-weight: 500;
  color: #70163a;
  width: 100%;
  background-color: inherit;
}
.tab {
  cursor: pointer;
  background-color: white;
  padding: 5px 8px;
  margin: 0 5px;
}

/* MOVIE CARD */
.movie-card:nth-child(1) {
  margin-top: 4px;
}
.movie-card {
  background-color: white;
  margin-top: 15px;
  width: 100%;
  display: inline-flex;
}
.movie-img {
  width: 112px;
}
.movie-details {
  padding: 10px 20px;
  width: 100%;
  position: relative;
}
.movie-title {
  margin: 0;
  font-size: 21px;
}
.movie-plot {
  font-size: 14px;
}
.movie-more-info {
  margin: 5px 0 0;
  font-size: 15px;
  font-style: italic;
}
.movie-ratings-btn {
  display: inline-flex;
  height: 30px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 16.5px;
  font-weight: 500;
  position: absolute;
  bottom: 6px;
  width: 93%;
}
#favourite-btn {
  cursor: pointer;
  background-color: #2a3e56c7;
  font-size: 15px;
  color: white;
  font-family: inherit;
  border-width: 1px;
  border-radius: 4px;
  outline: none;
}

@media (max-width: 550px) {
  section {
    width: 90%;
  }
  input {
    width: 220px;
    height: 30px;
    font-size: 16px;
  }
  #search-btn {
    font-size: 16px;
    height: 36px;
  }

  #tabs {
    font-size: 16px;
  }
  .movie-details {
    padding: 10px 15px 5px 15px;
  }
  .movie-title {
    font-size: 18px;
  }
  .movie-more-info {
    font-size: 13px;
  }
  .movie-plot {
    font-size: 13px;
    margin: 5px 0;
  }
  .movie-ratings-btn {
    font-size: 15.5px;
    width: 88%;
    bottom: 3px;
  }
}
